* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.draw-area {
    width: 500px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.draw-area div {
    border: 1px solid lightgray;
    background-color: white;

    /* 100 divided by size of grid gives percent for flex basis */
    flex-basis: 6.25%;
}
.draw-area div:hover {
    background-color: #000;
}